apiVersion: apps/v1
kind: Deployment
metadata:
  name: e2e-test
spec:
  replicas: 1
  selector:
    matchLabels:
      app: e2e-test
  template:
    metadata:
      labels:
        app: e2e-test
    spec:
      containers:
      - name: test
        image: nginx:latest
